<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="w_container">
            <div class="box_row">
                <form id="form_login" class="form_login" action="/login" method="post">
                    <p id="response_mes"></p>
                    <p><input type=text name=username placeholder="Введите логин"></p>
                    <p><input type=password name="password" placeholder="Введите пароль"></p>
                    <p><button>Войти</button></p>    
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
</body>
</html>